*.swp
/bits
build
*.node
*.pdf
/docs/*.json
/docs/*.html
/docs/index.restdown
cscope.in.out
cscope.po.out
cscope.out
cloudapi-*.tar.gz
/make_stamps
node_modules
etc/*.json
etc/cloudapi.cfg
.sdc-test-no-production-data
smf/manifests/*.xml
npm-shrinkwrap.json.old
/tmp
*.vim
