build
*.node
*.pdf
docs/*.json
docs/*.html
cscope.in.out
cscope.po.out
cscope.out
cloudapi-*.tar.bz2
node_modules
etc/*.json
etc/cloudapi.cfg
.sdc-test-no-production-data
smf/manifests/*.xml
npm-shrinkwrap.json.old
